body{
    background-color: rgb(195, 235, 253);
}
div#wrapper{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
}
div#left{
    padding:50;
    padding-top:0;
    position:fixed;
}
div#container{
    position:absolute;
    background-color: whitesmoke;
    border:black 5px solid; 
    height:586px;
    width:676px;
    margin:20px;
    margin-left: 600px;
    display: flex;
}
div#buttons{
    margin: 0;
    
}

h1{
    font-size: 58px;
    text-align:center;
    color:rgb(217, 26, 99);
}

h2{
    font-size: 40px;
    text-align:center;
    color: green;
}

div#container div#row div{
    border:black 3px solid;
    height:170px;
    width:170px;
    display: flex;
    cursor: pointer;
    font-size: 160px;
    text-align:center;
    padding-left:50px;
    padding-bottom: 20px;
}
.reset{
   margin-left:1130px;
   margin-top: 300px;
   width:140px;
   height:50px;
   cursor: pointer;
   border-radius: 10%;
   position:absolute;
}
.start{
   font-size: 20px;
   width:210px;
   height:80px;
   cursor: pointer;
   border-radius: 10%;
   margin-top: 590px;
   margin-left: 60px;
}
div#left p{
    padding-left:50px;
    font-size:26px;
}
div#left input{
    height:30px;
    width:200px;
    text-align: center;
    font-size:25px;
    margin-left: 10px;
}